<ul>
  <li><%= link_to 'Add New Dog', new_dog_path %></li>
  <li><%= link_to 'Show All Dogs', dogs_path %></li>
  <% if breeder_signed_in? %>
    <li><%= link_to "My Account", edit_breeder_registration_path %></li>
    <li><%= link_to "Sign Out", destroy_breeder_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Log In", new_breeder_session_path %></li>
    <li><%= link_to "Sign Up", new_breeder_registration_path %></li>
  <% end %>
</ul>
