<h2>All Doggies</h2>
<% @dogs.each do |dog| %>
  <div class="dog-item">
    <h3><%= dog.name %></h3>
    <ul>
      <li><%= image_tag(dog.DogImage_url) if dog.DogImage? %></li>
      <li>Breed: <%= dog.breed %></li>
      <li>Age: <%= dog.age %></li>
      <li>Gender: <%= dog.gender %></li>
      <li>Price: <%= dog.price %></li>
      <li>Breeder: <%= dog.breeder.email %></li>
    </ul>
    <ul>
      <li><%= link_to 'show', dog %></li>
      <li><%= link_to 'edit', edit_dog_path(dog) %></li>
      <li><%= link_to 'delete', dog,  method: :delete, data: {confirm: "Are you sure?"}%> </li>
    </ul>
  </div>
<% end %>
